@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --BlueClr:hsl(246, 80%, 60%); 
    --LightRedClr:hsl(15, 100%, 70%);
    --SoftblueClr: hsl(195, 74%, 62%);
    --LightRed: hsl(348, 100%, 68%);
    --Limegreen: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Softorange: hsl(43, 84%, 65%);

    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);


    --ff:'Rubik', sans-serif;
}


*,*::before,*::after{
    box-sizing:border-box;
    
}
body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background-color:var(--Verydarkblue);
    font-family: var(--ff);
}
section{
    margin-bottom:auto;
    margin-top: auto;

}
img{
    max-width:100%;
}
a{
    text-decoration: none;
}
.container{
    max-width:1140px;
    width:90%;
    margin:2em auto;
}
.item{
    background-color: var(--Darkblue);
  border-radius: 1em;

}
.item__header{
  background: var(--BlueClr);
  padding:2em 1em;
  border-radius:1em;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  color: #fff;

}

.user__profile{
   margin-top:4em;
}
.item__header h3{
    font-weight:300;
    font-size:0.9rem;
    line-height:1.4;
    color: var(--PaleBlue);
}
.item__header span {
    font-size:1.7rem;
    color: #fff;
}
.profile__img{
    display:block;
    width:80px;
    outline:3px solid #fff;
    border-radius:50%;
}
.item__body{
  padding:1em;
  display: flex;
  color:#fff;
  justify-content: space-around;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-bottom: 0em;
  background-color: var(--Darkblue);

}
.work{
  margin-top:1em;
}
.activity{
   margin-top:1em;  
   background: none;
}
.item__body a{
    color: var(--PaleBlue);
}
.item__body .active{
    color:#fff;
}

.activity{
    display: flex;
    flex-direction: column;
    
}
.item__wallpaper{
 
    flex-basis:4rem;
    background-repeat: no-repeat;
    background-position:right top;
    border-top-left-radius:1em;
    border-top-right-radius:1em;

}

.work{
    background-image: url('../images/icon-work.svg');
    background-color: var(--LightRedClr);
}
.study{
    background-image: url('../images/icon-study.svg');
    background-color: var(--LightRed);
    
}
.play{
    background-image: url('../images/icon-play.svg');
    background-color: var(--SoftblueClr);
}
.exercise{
    background-image: url('../images/icon-exercise.svg');
    background-color: var(--Limegreen);
}

.social{
    background-image: url('../images/icon-social.svg');
    background-color: var(--Violet);
}

.selfcare{
    background-image: url('../images/icon-self-care.svg');
    background-color: var(--Softorange);
}

.activity .item__body {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    background-color:var(--Darkblue);
    position: relative;
    top: -10px;
    z-index: 2;
    overflow: hidden;
}
.item__body .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 1em 1em;
}

.item__body h3{
   font-size:1.125rem;
   font-weight:500;
   margin-bottom:0;
   margin-top:0;
}
.item__body .time h3{
     font-weight:300;
     font-size:2rem;
     margin-top: 0.4em;
}
.item__body .time p {
    margin-top:1em;
    margin-bottom:0;
}
.item__body a{
    transition:all 250ms ease-in;
}
.item__body a:hover{
    color:#fff;

}

.activity .item__body:hover{
   cursor: pointer;
   background-color: var(--DesaturatedBlue);
   transition:all 250ms ease-in;
 
}

/* Media queries */

@media (max-width:375px) {
    .item__header span{
        font-size:1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
   
    .container{
        display:grid;
        grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
        grid-gap:1em;
       
       
    }
    .user__profile{
        grid-column: 1/3;
        margin-top:0em;
    }
    .work{
        margin-top:0em;
      }
}



@media screen and (min-width:991px) {
  
  
    .container{
        display:grid;
        grid-template-columns:repeat(4,1fr);
        grid-row-gap:1em;
        grid-column-gap:1.5em;
        margin:0em auto;
        
    }
    .activity{
      margin-top:0;
    }

    .user__profile{
       grid-row:1/3;
       align-self: start;
       padding-bottom: 0.78em;
       grid-column: unset;
       margin-top:0em;
   
    }

    .user__profile .item__body {
       padding-bottom:0;
    }

    .item__header{
        flex-direction:column;
        align-items:flex-start;
        padding: 2em 2em 6em 2em;
    }
    .item__body{
       flex-direction:column;
       margin-bottom:0;
   
    }
    .user__profile .item__body{
        padding-left:2em;
        padding-right:2em;
    }
    .work{
        margin-top:0em;
      }

    .time{
       flex-direction: column;
       align-items: flex-start !important;
       text-align: start !important;

      
    }
    .user__profile .time{
        font-size:20px;
       
    }
    .item__body .time h3{
        font-size:4rem;
    }
    
    .user__info h3{
        line-height:1.1;
       
    }

    .user__info h3 span{    
        margin-top:0.1em;
        font-size:3rem;
        display:inline-block;
    }

      .profile__img{
          margin-bottom:1.2em;
      }

}






