@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
    --BlueClr:hsl(246, 80%, 60%); 
    --LightRedClr:hsl(15, 100%, 70%);
    --SoftblueClr: hsl(195, 74%, 62%);
    --LightRed: hsl(348, 100%, 68%);
    --Limegreen: hsl(145, 58%, 55%);
    --Violet: hsl(264, 64%, 52%);
    --Softorange: hsl(43, 84%, 65%);

    --Verydarkblue: hsl(226, 43%, 10%);
    --Darkblue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);


    --ff:'Rubik', sans-serif;
}


*,*::before,*::after{
    box-sizing:border-box;
    
}
body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    background-color:var(--Verydarkblue);
    font-family: var(--ff);
}
img{
    max-width:100%;
}
a{
    text-decoration: none;
}
.container{
    max-width:1140px;
    width:90%;
    margin:3em auto;
   

}
.item{
    background-color: var(--Darkblue);
  border-radius: 1em;

}
.item__header{
  background: var(--BlueClr);
  padding:2em 1em;
  border-radius:1em;
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  color: #fff;
}
.item__header h3{
    font-weight:300;
    font-size:0.9rem;
    line-height:1.4;
}
.item__header span {
    font-size:1.7rem;
}
.profile__img{
    display:block;
    width:80px;
    outline:3px solid #fff;
    border-radius:50%;
}
.item__body{
  padding:1em;
  display: flex;
  color:#fff;
  justify-content: space-around;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-bottom: 1.1em;
  background-color: var(--Darkblue);

}
.activity{
   margin-top:1em;  
}
.item__body a{
    color: var(--PaleBlue);
}
.item__body .active{
    color:#fff;
}

.activity{
    display: flex;
    flex-direction: column;
    
}
.item__wallpaper{
    background-image: url('../images/icon-work.svg');
    flex-basis:3rem;
    background-repeat: no-repeat;
    background-position:right top;
    background-color: var(--LightRedClr);
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}
.activity .item__body {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color:var(--Darkblue);
    position: relative;
    top: -5px;
    z-index: 2;
}
.item__body .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}