:root{
 --Strongcyan: hsl(172, 67%, 45%);
--Verydarkcyan: hsl(183, 100%, 15%);
--Darkgrayishcyan: hsl(186, 14%, 43%);
--Grayishcyan: hsl(184, 14%, 56%);
--Lightgrayishcyan: hsl(185, 41%, 84%);
--Verylightgrayishcyan: hsl(189, 41%, 97%);
--White: hsl(0, 0%, 100%);
--ff: 'Space Mono', monospace;
}
*,*::before,*::after{
    box-sizing:border-box;
}
body{
    margin:0;
    min-height:100vh;
    font-family: var(--ff);
    display:flex;
    flex-direction:column;
    justify-content: center;
    
    background-color: var(--Lightgrayishcyan);
}

.container{
    max-width:1140px;
    width:95%;
    margin:0 auto;
    padding:0.5em;
    
}

.title{
    text-align: center;
    text-transform: uppercase;
    color: var(--Darkgrayishcyan);
    letter-spacing: 2px;
}

/*------ Calculator Css Start ---- */
.calculator{
    background-color: var(--White);
    padding:1em 2em;
    border-radius:1em;
    
}
/* ----Calculator Css end ------------- */


/*------ Calculator Top Css start ---------- */
.calculator__top label{
   color: var(--Grayishcyan);
   position: relative;
}

.calculator__top #bill,#people{
    display:block;
    padding:0.6em 0.5em;
    width:100%;
    font-size:1.5rem;
    margin-top:0.5em;
    background-color: var(--Verylightgrayishcyan);
    border:0;
    border-radius:0.2em;
    color: var(--Verydarkcyan);
    font-family: var(--ff);
}
#bill,#people{
    position: relative;
    text-indent:20px;
    text-align: right;
}
.calculator__top #bill__label::before{
    content:'';
    position: absolute;
    top:60px;
    z-index:2;
    left:10px;
    width:20px;
    height:20px;
    background-image: url('../images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.calculator__top input[type=number]:focus{
    outline:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.calculator__top h2{
    font-size:1rem;
    color: var(--Darkgrayishcyan);
}
.tips{
    display: flex;
    flex-wrap: wrap;
    gap:1em;
    align-items: center;
}
.tip{
    border:0;
    display:inline-block;
    padding:0.7em 1em; 
    font-size:1.2rem;
    width:47%;
    color: var(--White);
    background-color: var(--Verydarkcyan);
    border-radius:0.2em;
    font-family: var(--ff);
    cursor: pointer;
    transition:all 250ms ease-in;
    margin-bottom:1em;
}
.tip:hover{
   background-color: var(--Strongcyan);
   color: var(--Verydarkcyan);
}

input#custom{
    background-color: var(--Verylightgrayishcyan);
    color: var(--Darkgrayishcyan);
    border-radius:0.2em;
}

.calculator__top #people__label::before{
    content:'';
    position: absolute;
    top:60px;
    z-index:2;
    left:10px;
    width:20px;
    height:20px;
    background-image: url('../images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: center;
}


/*------ Calculator Top Css end --------------*/

/* Calculator Bottom Css Start */
.calculator__bottom{
    background-color: var(--Verydarkcyan);
    padding:1em;
    border-radius:0.5em;
    color: #fff;
}
.calculator__bottom div{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    
}
.calculator__bottom h3{
    margin:0 0 1em 0;
}
.calculator__bottom p{
    font-size:2.1rem;
    color: var(--Strongcyan);
    margin-bottom:0;
    margin-top: 0;
}
.calculator__bottom  span{
    font-size:0.9rem ;
    color: var(--Darkgrayishcyan);
}
.btn-reset{
    display: inline-block;
    margin:0 auto;
    padding:0.5em;
    width:100%;
    text-transform: uppercase;
    color: var(--Verydarkcyan);
    background-color: var(--Strongcyan);
    border:0;
    cursor: pointer;
    border-radius:0.3em;
    font-family: var(--ff);
    text-transform: uppercase;
    font-size:1.2rem;
    transition:all 250ms ease-in;
}
.btn-reset:hover{
    background-color: var(--Lightgrayishcyan);
}

@media screen and (min-width:768px) {
    .calculator{
       display: flex;
       gap:1em;
    }
    .calculator{
       max-width:850px;
       margin:auto;
    }
    .calculator__bottom div{
        align-items: center;
    }
    .calculator__bottom h3{
        font-size:0.9rem;
        margin-bottom:0;
    }
    .calculator__bottom,.calculator__top{
     width:100%;
    }
    .calculator__bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
    }
    .calculator__bottom p{
        font-size:3rem
    }
    .calculator__top div:last-child{
        margin-top:1.5em;
    }
    .tips{
        gap:0.7em;
    }
    .tip{
      
        width:30%;
        padding:0.6em 0.8em; 
        margin-bottom: 0.3em;
    }
    .calculator__top #bill__label::before,.calculator__top #people__label::before{
        top:53px;
    }
    .calculator__top #bill,#people{
       padding:0.4em 0.5rem;
    }
}