:root{
   
--Softorange:hsl(35, 77%, 62%);
--Softred: hsl(5, 85%, 63%);
--Off-white:hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
--ff-main:'Inter',sans-serif;

}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-width: 100vh;
    font-family: var(--ff-main);
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

/* header css start */
header{
    padding: 55px 103px 30px 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    outline: 1px solid #111;
}
header .logo img {
    width: 65px;
    height: 42px;
    /* height: 65px; */
}
nav{
    /* background-color: yellow; */
}

nav  ul{
    display: flex;
    gap:2rem;
}
nav a{
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--Dark-grayish-blue);
}

/* section -1 css  */
.section-1{
    padding: 35px 103px 30px 103px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section-2{

}