:root{
    

--red-clr:hsl(12, 88%, 59%);
--DarkBlue-clr:hsl(228, 39%, 23%);
--DarkGrayishBlue-clr:hsl(227, 12%, 61%);
--VeryDarkBlue-clr:hsl(233, 12%, 13%);
--VeryPaleRed-clr:hsl(13, 100%, 96%);
--VaryLightGray-clr:hsl(0, 0%, 98%);

--ff-main:'Be Vietnam Pro', sans-serif;

}

*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    /* background-color: red; */
    font-family: var(--ff-main);
    background-image: url('../images/bg-tablet-pattern.svg');
    background-size: 800px;
    background-repeat: no-repeat;
    /* background-position: 20px -20px; */
    background-position: 120% -96px;
}
header ul li a{
    color: var(--DarkBlue-clr);
    font-size: 0.9rem;
    font-weight: 500;
}
nav{
    width: 70%;

}
.custom-button{
   border-radius: 4em;
   background-color: var(--red-clr);
   padding: 1.1em 2.7em;
   color: var(--VaryLightGray-clr);
   display: inline-block;
}
.section-1 p{
    color: var(--DarkGrayishBlue-clr);
    padding-right: 12em;
}
.section-2   p{
    color: var(--DarkGrayishBlue-clr);
}
.section-2 .sec-2-a  p{

    padding-right: 12em;
}
.section-2 h4{
    background-color: var(--red-clr);
    color: var(--VaryLightGray-clr);
    padding: 0.7em 1.1em;
    align-self: flex-start;
    border-radius: 10em;
    font-weight: 600;
    text-align: center;
    width:80px;
}
.section-3 .slide{
    text-align: center;

 
}
.section-3 .slide img{
    display: block;
    margin: 0 auto;
    width: 75px;
    height: 75px;
    position: relative;
    top: 2em;

   
}
.inner-slide{
    background-color: var(--VaryLightGray-clr) ;
    min-height: 300px;
    padding: 4em 0em 0 0em;
    margin: 0 10px;
    /* max-width: 400px; */
    
}
.inner-slide p{
    color: hsl(227 12% 61%);
    font-size: 0.9rem;
    padding: 0 24px;
   
}
.inner-slide:nth-child(2){
    /* margin: 0 10px; */
}
