*,*::before,*::after{
    box-sizing:border-box;
}
body{
    min-height:100vh;
    font-size:1rem;
    display:flex;
    flex-direction:column;
    margin:0;
    

}
a{
    text-decoration:none;
}
ul{
    padding-left:0;
    list-style:none;
}
footer{
    margin-top:auto;
}
img{
    max-width:100%;
}

.container{
    width:90%;
    margin:0 auto;
    max-width:1200px;
    
}
// .toggler__on{
//     display:none 
// }