@import 'variables';
@import 'reset';
@import 'mixin';



.header{
    background-color:$Lightred;
    position: relative;
    z-index:2;
    padding:1em;
    background-image: url('../images/bg-pattern-intro-mobile.svg');
    background-size: 200%;
    background-position: center 60%;
    border-bottom-left-radius:6em;
    @include mq(799px){
        background-image: url('../images/bg-pattern-intro-desktop.svg');
        background-position: center 60%;
        background-size:200%;
        padding-bottom:9.5em;
        .showcase__title{
              font-size: 3.5rem !important;
              margin-bottom: 0;
        }
        .showcase__subtitle{

            margin-top:0.4em;
        }
        .nav__bar{
            padding-top:2.5em;
        }
        .logo{
            margin-right:2.5em;
        }
    }


    .nav__bar{
        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        margin-top:1em;
       
       
    }
    .logo__img{
       min-width:100px;
    }
 
    .list{
        display: none;
        position:fixed;
        background:$White_Text;
        top:14%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        flex-direction: column;
        justify-content:space-around;
        gap:1.5em;
        height:auto;
        max-width:300px;
        width:100%;
        z-index:99;
        border-radius:.3em;
        padding:1.5em 1em;
        box-shadow:$boxShadow;
        z-index:9999;
        // &::before{
        //     content:'';
        //     position: absolute;
        //     inset:0;
        //     background:rgba(0, 0, 0, 0.9);
        //     z-index:-1;
         
        // }
        @include mq(799px){
             min-height: unset;
             max-width: unset;
             position: static;
             display: flex !important;
             flex-direction:row;
             background: initial;
             box-shadow: none;
             padding:0;
             margin:0 0 0 1em;
             align-items: center;
            
        }
        .list__item{
            position: relative;
           
        }
        .list__link{
            font-family:$ff_Sub;
            font-weight:600;
            color:$Very_dark_blue_headings;
            font-size:1.1rem;
            padding:.8em 0.2em;
            position: relative;

            @include mq(799px){
              color:$White_Text;
           
           }

        }
        #arrow{
            position:absolute;
            top:1.2em;
            right:-0.3em;
        }
     
        .sign__up{
             background-image: linear-gradient(to right,$Verylightred,$Lightred);
             color:$White_Text;
             font-weight:700;
             font-size:.9rem;
             padding:.8em 2.2em;
             border-radius:1.4em;
             display:inline-block;
             min-width:120px;
             margin-top:.5em;
             transition: all 250ms ease-in;
             @include mq(799px){
                color:$Lightred;
                background: $White_Text;
                margin-top:0;
                &:hover{
                    color:$White_Text;
                    background:$Verylightred_CTA_hover_background;
                 }
             }
             
        }

        .bar{
            padding:0.05em 0 0.05em 0em;
            max-width:270px;
            background:#ccc;
            @include mq(799px){
                margin-left: auto;
                opacity:0;
             }
        }

    }

  
   
    .sub__list{
       background:#f5f5f6;
       padding:1em 1em 1em 1em;
       margin:1em 0 0 0 ;
       font-family:$ff_Sub;
       opacity:0.8;
       display: none;
     
       @include mq(799px){
       display: none;
        position: absolute;
        text-align: start;
        top:1em;
        left:-1em;
        opacity:1;
        border-radius:0.3em;
        // font-size:10px;
        padding: 1em  4em  0 1em;
        font-weight: 300;

        a{  
            color:#000 !important;
            font-size:1rem;
            font-weight:500;
            margin-bottom:0.3em;
        }
       }

       &>*{
          margin-bottom:1.2em; 
       }
    
 

    }
    .sub__link{
        a{
            color:$Verydarkdesaturatedblue;
            font-weight: 600;
        }
        &:hover .sub__list{
            display: block !important;
            
        }
        &:hover img{
            transform: rotate(180deg);
             
         }
        @include mq(799px){
            a{
                font-weight:400;
            }
            img{
                transition: transform 100ms ease-out;
                
            }
            &:hover .sub__list{
                display: block !important;
                
            }
            &:hover img{
                transform: rotate(180deg);
                 
             }
             &:hover{
    
                 text-decoration: underline solid $White_Text 3px;
             }
             a:hover{
                 font-weight: 700;
             }
        }

    }
    


    .hamburger__menu{
        .toggle__btn{
            background:transparent;
            border:0;
            margin-top:0.4em;
            cursor: pointer;
        }
        @include mq(799px){
            display: none;
        }
    }
    .showcase{
        padding:3em 0;
        font-family:$ff_Main;
        text-align:center;
        color: $White_Text;
        .showcase__title{
            font-size:2.3rem;
            line-height:1.4;
            font-weight:700;
            font-family:$ff_Sub;

        }
        .showcase__subtitle{
            font-weight: 400;
            font-size:1.2rem;
        }
      
        .showcase__btn__container{
            display:flex;
            justify-content:center;
            gap:20px;
            @include mq(799px){
                &{
                    padding-top:2em;
                }
            }
            // flex-wrap:wrap;
            @include mqmax(370px){
                &{
                     flex-wrap:wrap;
                }
            }


            .showcase__btn{
                color:$Lightred;
                font-weight:700;
                font-size:1.1rem;
                background: $White_Text;
                padding:0.75em 0.75em;
                border-radius:2em;
                min-width:150px;
                transition:all 250ms ease-in;

                &:hover{
                    color:$White_Text;
                    background:$Verylightred_CTA_hover_background;
                 }
                 
            }

            .light{
                background:transparent;
                color:$White_Text;
                outline:2px solid $White_Text;
                &:hover{
                    color:$Lightred;
                    background: $White_Text;
                 }
            }
         
        }
   
    
    }
}


// first section css here

.first__section{
    margin:4em 0;
    padding-top:5em;
    padding-bottom:5em;
    @include mq(799px){
          background-image: url('../images/illustration-editor-desktop.svg');
          background-size: 65%;
          background-repeat: no-repeat;
          background-position: 168% -10%;
          .title{
              font-size:2.3rem;
              text-align:center;
          }
    }
    .title{

        text-align:center;
        font-family:$ff_Main;
        color:$Very_dark_blue_headings;
        margin-bottom:1.3em;
        font-weight:500;
       
        @include mq(799px){
            text-align:center;
        }
        @include mq(800px){
            text-align:start;
        } 
    }
    .row{
        display:flex;
        flex-direction:column;
        align-items:center;
        overflow:hidden;
        // gap:10px;
     
        @include mq(799px){
            gap:20px;
            flex-direction:row;
            .col:last-child{
                order:0;
                visibility: hidden;
                
            }
            .col:first-child>*{
                text-align:start;
                
            }
            .para{
                max-width: 550px;
            }
        }
    }
    .col:last-child{
        order:-1;
        flex-grow: 1;
     

    }
    .col:first-child{
       flex-basis:100%;
       text-align:start;

    }


    .para__title{
         text-align:center;
         color:$Very_dark_blue_headings;
         font-family:$ff_Sub;
         word-wrap: break-word;
         font-size:1.3rem;
    }
    .para{
        text-align:center;
        font-family:$ff_Sub;
        line-height:1.7;
        color:$Verydarkdesaturatedblue;
        font-weight:300;

    }
}

.second__section{
    background-color:$Verydarkgrayblue;
    margin:5em 0;
    border-top-right-radius:6em;
    border-bottom-left-radius:5em;
    background-repeat:  no-repeat;
    background-size:130%; 
    background-position: 50% -200%;
    @include mq(799px){
        background-size:60%;
        background-position:-20%  100%;
        height:400px;
    }
    .row{
        position: relative;
        display:flex; 
        flex-direction: column;
        padding:0.5em;
        @include mq(799px){
            flex-direction: row;
            align-items:flex-start;
            .col:first-child{
                flex-basis:100%;
                top:-4em;
            }
            .col:last-child{
                flex-basis:100%;
                top:0em;
                padding-top:3em;
                padding-left:2em;
                // align-self:center;
            }
            .col:last-child>*{
                text-align:start;
            }
            .phones{
                display: block;
                transform: scale(1.05);
            }
        }
    }
    .col:first-child{
        position:relative;
        top:-8em;
    }
      
    .col:last-child{
        position:relative;
        top:-10em
        
    }

    .para__title{
        text-align:center;
        color:$White_Text;
        font-family:$ff_Sub;
        word-wrap: break-word;
        font-size:2rem;
   }

   .para{
    text-align:center;
    font-family:$ff_Sub;
    line-height:1.7;
    color:$White_Text;
    font-weight:300;
    font-size:1.1rem;

  }
}


.third__section{
      margin:2em 0;  
      padding:0.5em;
      @include mq(799px){
        margin:4em 0 5em 0;  
        padding-top:11em;
        padding-bottom:4em;
          background-image:url('../images/illustration-laptop-desktop.svg');
          background-repeat: no-repeat;
          background-size:65%;
          background-position:-53% 0%;

      }
      .row{
          display:flex;
          flex-direction:column;
          align-items: center;
          @include mq(799px){
           flex-direction:row;
           .col:first-child{
               flex-basis:100%;
               visibility:hidden;
           }
           .col:last-child{
            flex-basis:100%;
            align-self: flex-start;
            
           }
           .col:last-child>*{
             text-align:start;
            }
            .para__title{
                margin-top:0;
            }

            
        }
      }
    //   img{
    //       display: block;
    //       width:100%;
    //       min-width:300px;
    //   }
      .col:first-child{
          background-image: url('../images/illustration-laptop-mobile.svg');
          flex-basis:20rem;
          padding:1em;
          background-size: cover;
          background-position: center;
          align-self: stretch;
      }
      .para__title{
        text-align:center;
        font-family:$ff_Sub;
        line-height:1.7;
        color:$Verydarkdesaturatedblue;
        font-weight:700;
        font-size: 1.6rem;
      }
      .para{
        text-align:center;
        font-family:$ff_Sub;
        line-height:1.7;
        color:$Verydarkdesaturatedblue;
        font-weight:300; 
      }
}


footer{
    padding:2em 1em 1em 1em;
    background-color:$Verydarkblackblue_footerbg ;
    text-align:center;
    border-top-right-radius: 20%;
    color:$White_Text;
    @include mq(799px){
        border-radius:0;
        .grid{
            display:grid;
            gap:5em;
            grid-template-columns:repeat(4,1fr);
            align-items: flex-start;

            h4{
                margin-top:0;
                text-align:start;
                font-size:0.9rem;
            }
            li{
                text-align:start;
                font-size:1rem;
                margin-bottom:0.7em;
            }
        }
        .grid__item:first-child{
            margin-right:3em;
            // background:red;
        }
    }
    .grid{
        margin-top:1em;
    }

    h4{
        font-family:$ff_Main;
        font-size:1.2rem;
    }
    li{
        margin-bottom:0.3em;
        font-size:1.1rem;
        color:$Grayishblue_Footer;
        font-family:$ff_Sub;
        font-weight: 400;
    }
}