
$Lightred_Text: hsl(356, 100%, 66%);
$Verylightred_CTA_hover_background: hsl(355, 100%, 74%);
$Very_dark_blue_headings:hsl(208, 49%, 24%);

//Neutral

$White_Text:hsl(0, 0%, 100%); 
$Grayishblue_Footer:hsl(240, 2%, 79%);
$Verydarkgrayish: hsl(207, 13%, 34%);
$Verydarkblackblue_footerbg: hsl(240, 10%, 16%);

//Gradient
//@at-root gradient - Intro/CTA mobile nav:

$Verylightred: hsl(13, 100%, 72%);
$Lightred: hsl(353, 100%, 62%);

//Background gradient - body:
$Verydarkgrayblue: hsl(237, 17%, 21%);
$Verydarkdesaturatedblue: hsl(237, 23%, 32%);


//fonts
$ff_Main:'Ubuntu', sans-serif;
$ff_Sub:'Overpass', sans-serif;

$boxShadow:0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),0.125em 0.125em 0.25em rgba(0,0,0,0.15);